definitions:
  models.InputNewRoleUser:
    properties:
      role:
        example: admin
        type: string
    required:
    - role
    type: object
  models.InputNewStatus:
    properties:
      status:
        example: completed
        type: string
    type: object
  models.LoginRequest:
    properties:
      email:
        example: john@example.com
        type: string
      password:
        example: "123456"
        type: string
    type: object
  models.ProductInput:
    properties:
      category_productId:
        example: 1
        type: integer
      description:
        example: Coffee with milk and foam
        type: string
      isFlashsale:
        example: false
        type: boolean
      name:
        example: Cappuccino
        type: string
      price:
        example: 25000
        type: number
      productSize:
        example: Medium
        type: string
      stock:
        example: 20
        type: integer
      tempelatur:
        example: Hot
        type: string
    required:
    - name
    - price
    type: object
  models.RegisterRequest:
    properties:
      email:
        example: john@example.com
        type: string
      fullname:
        example: John Doe
        type: string
      password:
        example: "123456"
        type: string
      role:
        example: customer
        type: string
    type: object
  models.Response:
    properties:
      data: {}
      message:
        type: string
      success:
        type: boolean
    type: object
  models.User:
    properties:
      address:
        type: string
      created_at:
        type: string
      email:
        type: string
      fullname:
        type: string
      id:
        type: integer
      password:
        type: string
      phone:
        type: string
      pic:
        type: string
      profileid:
        type: integer
      role:
        type: string
      updated_at:
        type: string
    type: object
info:
  contact: {}
paths:
  /login:
    post:
      consumes:
      - application/json
      parameters:
      - description: Login credentials
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/models.LoginRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Login success
          schema:
            $ref: '#/definitions/models.Response'
        "401":
          description: Wrong password
          schema:
            $ref: '#/definitions/models.Response'
        "404":
          description: User not found
          schema:
            $ref: '#/definitions/models.Response'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/models.Response'
      summary: Login user
      tags:
      - Authentication
  /orders:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Response'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/models.Response'
      security:
      - BearerAuth: []
      summary: Get all orders
      tags:
      - Orders
  /orders/update/status/{id}:
    patch:
      consumes:
      - application/json
      parameters:
      - description: Order ID
        in: path
        name: id
        required: true
        type: integer
      - description: New Status Data
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/models.InputNewStatus'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Response'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/models.Response'
      security:
      - BearerAuth: []
      summary: Update status order
      tags:
      - Orders
  /products:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: Success getting products
          schema:
            $ref: '#/definitions/models.Response'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/models.Response'
      security:
      - BearerAuth: []
      summary: Get all products
      tags:
      - Products
    post:
      consumes:
      - application/json
      parameters:
      - description: Product data
        in: body
        name: product
        required: true
        schema:
          $ref: '#/definitions/models.ProductInput'
      produces:
      - application/json
      responses:
        "201":
          description: Success create product
          schema:
            $ref: '#/definitions/models.Response'
        "400":
          description: Invalid input
          schema:
            $ref: '#/definitions/models.Response'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/models.Response'
      security:
      - BearerAuth: []
      summary: Create a new product
      tags:
      - Products
  /products/{id}/create/image:
    post:
      consumes:
      - multipart/form-data
      parameters:
      - description: Product ID
        in: path
        name: id
        required: true
        type: integer
      - description: Upload product images
        in: formData
        name: images
        required: true
        type: file
      produces:
      - application/json
      responses:
        "201":
          description: Success create image product
          schema:
            $ref: '#/definitions/models.Response'
        "400":
          description: Failed to upload image
          schema:
            $ref: '#/definitions/models.Response'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/models.Response'
      security:
      - BearerAuth: []
      summary: Upload product images
      tags:
      - Products
  /products/delete/{id}:
    delete:
      parameters:
      - description: Product ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: Success delete product
          schema:
            $ref: '#/definitions/models.Response'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/models.Response'
        "404":
          description: Product not found
          schema:
            $ref: '#/definitions/models.Response'
      security:
      - BearerAuth: []
      summary: Delete product
      tags:
      - Products
  /products/edit/{id}:
    patch:
      consumes:
      - application/json
      parameters:
      - description: Product ID
        in: path
        name: id
        required: true
        type: integer
      - description: Updated product data
        in: body
        name: product
        required: true
        schema:
          $ref: '#/definitions/models.ProductInput'
      produces:
      - application/json
      responses:
        "200":
          description: Success edit product
          schema:
            $ref: '#/definitions/models.Response'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/models.Response'
        "404":
          description: Product not found
          schema:
            $ref: '#/definitions/models.Response'
      security:
      - BearerAuth: []
      summary: Edit product
      tags:
      - Products
  /register:
    post:
      consumes:
      - application/json
      parameters:
      - description: User registration data
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/models.RegisterRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Success register
          schema:
            $ref: '#/definitions/models.Response'
        "400":
          description: Bad request
          schema:
            $ref: '#/definitions/models.Response'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/models.Response'
      summary: Register a new user
      tags:
      - Authentication
  /users:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: Success getting users data
          schema:
            allOf:
            - $ref: '#/definitions/models.Response'
            - properties:
                data:
                  items:
                    $ref: '#/definitions/models.User'
                  type: array
              type: object
        "400":
          description: Failed to get users data
          schema:
            $ref: '#/definitions/models.Response'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/models.Response'
      security:
      - BearerAuth: []
      summary: Get all users
      tags:
      - Users
  /users/delete/{id}:
    delete:
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "201":
          description: User deleted successfully
          schema:
            $ref: '#/definitions/models.Response'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/models.Response'
        "404":
          description: User not found
          schema:
            $ref: '#/definitions/models.Response'
      security:
      - BearerAuth: []
      summary: Delete a user
      tags:
      - Users
  /users/update/role/{id}:
    patch:
      consumes:
      - application/json
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: integer
      - description: New Role Data
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/models.InputNewRoleUser'
      produces:
      - application/json
      responses:
        "201":
          description: Role updated successfully
          schema:
            $ref: '#/definitions/models.Response'
        "400":
          description: Invalid request
          schema:
            $ref: '#/definitions/models.Response'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/models.Response'
      security:
      - BearerAuth: []
      summary: Update user role
      tags:
      - Users
securityDefinitions:
  BearerAuth:
    description: 'Type "Bearer" followed by a space and JWT token. Example: "Bearer
      eyJhbGciOiJIUzI1NiIsInR5..."'
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
